@import "_root";
@import "nullstyle";

body {
	font-family: var(--font-familySFPro);
}

.main {
	min-height: 100%;
	display: grid;
	grid-template: minmax(rem(70), auto) 1fr minmax(rem(230), auto) / 1fr;
	grid-template-areas:
		"header"
		"main"
		"footer";
}
.header-main {
	width: 100%;
	z-index: 1;
	position: relative;
	background: var(--backgroundBase);
	border-bottom: rem(4) solid var(--borderPrimary);
	box-sizing: border-box;
}
.container {
	line-height: 1.5;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	border-collapse: collapse;
	align-items: center;
}
.header-logo {
	font-family: var(--font-familyBebas);
	font-size: rem(40);
	margin: 0 rem(30);
	padding-right: rem(30);
	border-right: rem(2) solid var(--borderPrimary);
}
.header-navigation {
	flex-grow: 1;
	flex-shrink: 0;
	padding: rem(18) 0;
	vertical-align: top;
	text-align: left;
	white-space: nowrap;
}
.header-item {
	display: flex;
}
.header-list {
	display: inline-block;
	margin-right: rem(30);
}
.header-link {
	color: var(--foregroundAlt);
	display: inline-block;
}
.list-curent .header-link {
	color: var(--foregroundAccent);
}
.header-user {
	display: flex;
	align-items: center;
	flex-shrink: 1;
	position: relative;
	min-width: rem(20);
	transition: opacity 0.3s ease-out;
	margin-right: rem(20);
}
.logo-icon {
	width: rem(36);
	border-radius: 50%;
}
.search-wrap,
.tabs-section,
.tabs-menu-wrap {
	max-width: rem(980);
	min-width: rem(980);
	width: 100%;
	margin: 0 auto;
}
.search-block {
	display: block;
	transition: opacity 0.5s ease;
	opacity: 1;
}

.search-block.hidden {
	opacity: 0;
	display: none;
}

.search-wrap {
	//height: rem(300);
	position: relative;
	padding: rem(40) 0 rem(40);
}
.search-content {
	max-width: 60%;
}
.search-title {
	font-weight: 700;
	font-size: rem(28);
	line-height: 1.25;
	margin-bottom: rem(15);
}
.search-text {
	font-weight: 500;
	font-size: rem(20);
	line-height: 1.6;
	margin: 0 0 rem(25);
}
.search-form {
	display: flex;
	width: 100%;
	box-sizing: border-box;
}
.text-input {
	display: inline-block;
	width: 100%;
}
.text-input-search {
	padding: rem(4) rem(14);
	box-sizing: border-box;	
	border-radius: rem(4) 0 0 rem(4);
	color: var(--foregroundDefault);
	border: rem(1) solid var(--borderPrimary);
	background-color: var(--backgroundBase);
	width: 100%;
	margin: 0;
	height: rem(40);
}
.search-button {
	font-weight: 700;
	line-height: 1.5;
	padding: rem(8) rem(16);
	text-decoration: none;
	background: var(--foregroundConstructiveAlt);
	border: none;
	border-radius: 0 rem(4) rem(4) 0;
}
.search-description {
	display: flex;
	flex-direction: column;
	margin: rem(40) 0 0;
}
.search-desription-title {
	font-weight: 700;
	font-size: rem(22);
	line-height: 1.25;
	margin-bottom: rem(15);
}
.search-desription-text {
	font-weight: 500;
	line-height: 1.5;
	margin: 0 0 rem(12);
	padding: 0;
}

//

.tabs-menu {
	position: sticky;
	top: 0;
	z-index: 1;
}
.sticky {
	background: var(--backgroundAlt);
}

.tabs-menu-wrap {
	overflow-x: hidden;
	position: relative;
}
.tabs-menu-scroll {
	flex-flow: row nowrap;
	display: flex;
	gap: rem(24);
	overflow-x: auto;
	border-bottom: rem(2) solid var(--borderPrimary);
}
.tabs-menu-button {
	background: none;
	box-shadow: none;
	text-decoration: none;
	padding: rem(12) rem(8);
	min-width: rem(180);
	border: none;
	border-bottom: rem(2) solid transparent;
	cursor: pointer;	
	font-style: normal;
	font-weight: 500;	
	line-height: 1.5;
	letter-spacing: rem(1);
	text-align: left;
	display: inline-flex;	
	flex-direction: column;
	box-sizing: border-box;
	color: var(--foregroundDefault);
	position: relative;
	z-index: 1;
}
.tabs-menu-button.active {
	color: var(--foregroundAccent);
	border-bottom-color: var(--foregroundAccent);
}
.tabs-section {
	padding: rem(35) 0;
	border-bottom: rem(2) solid var(--borderPrimary);
}
.tab-title {
	margin-bottom: rem(25);
	font-size: rem(20);
	line-height: 1.4;
	font-weight: 600;
	color: var(--foregroundDefault);
}
.tab-discription {
	max-width: rem(700);
	margin-bottom: rem(25);
	font-size: rem(14);
	line-height: 1.42;
}
.tab-list {
	counter-reset: a;
	padding: 0;
	margin: 0;
}
.list-item {
	list-style: none;
	counter-increment: a;
}
.list-title {
	position: relative;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: rem(15);
}
.list-link {
	color: var(--foregroundDefault);
}
.list-sub {
	padding: 0;
	margin: 0;
	counter-reset: b;
	margin-bottom: rem(25);
	list-style-type: none;
	column-gap: rem(10);
	columns: 3;
}
.list-sub-item {
	counter-increment: b;	
	break-inside: avoid;
	margin: 0;	
	display: flex;
	align-items: center;
}
.list-sub-item:before {
	content: "";
}
.list-sub-title {
	position: relative;
	padding-left: rem(38);
	margin-bottom: rem(2);
}
.list-sub-title:before {
	position: absolute;
	top: rem(4);
	left: 0;
	font-family:
		Consolas,
		Lucida Console,
		Menlo,
		Monaco,
		monospace;
	font-size: rem(12);
	line-height: 1.33;
	content: counter(a) "." counter(b);
}
.list-sub-link {
	line-height: 1.4;
	color: var(--foregroundAction);
}

//footer
.footer-wrap {
	min-height: rem(500);
}
