@import "_root";
@import "nullstyle";
@import "_header";

p {
	margin: rem(12) 0;
}
ul li {
	list-style: square;
	list-style-position: inside
}
.chapter{
	margin-bottom: rem(50);
}
.chapter-one{
	padding: rem(50) 0;
	border-bottom: rem(2) solid var(--borderPrimary);
}

.main-width-limit {
	max-width: rem(800);
	margin: 0 auto;
}

.main-header {
	margin: rem(40) 0 rem(16);
}

.main-header-nav {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: rem(20);
}
.breadcrumbs {
	list-style: none;
	margin: 0;
	padding: 0;
	color: var(--foregroundAlt);
}
.breadcrumbs .breadcrumbs-item {
	display: inline-block;
	margin: 0;
}
.breadcrumbs-item-home .breadcrumbs-link:before {
	content: "\E813";
	//content: url("../img/icons/house.svg");
}
.breadcrumbs .breadcrumbs-item + .breadcrumbs-item:before {
	content: "\2192";
	font-family:
		Lucida Grande,
		Lucida Sans Unicode,
		Arial,
		Helvetica,
		sans-serif;
	color: var(--foregroundAlt);
	display: inline-block;
	margin: 0 rem(9) 0 rem(7);
	vertical-align: rem(3);
}
.breadcrumbs-hidden-text {
	display: none;
}
.breadcrumbs-item-home .breadcrumbs-link:before {
	display: inline;	
	color: var(--foregroundAlt);
	vertical-align: -1px;
}
.working-hover .breadcrumbs-item-home .breadcrumbs-link:hover {
	text-decoration: none;
}
.working-hover .breadcrumbs-item-home .breadcrumbs-link:hover:before {
	color: inherit;
}

.breadcrumbs-link {
	color: var(--foregroundAction);
}

.working-hover .breadcrumbs-link:hover {
	color: var(--foregroundAccent);
}

.main-header-title {
	//font: 700 32px/40px BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
	font-weight: 700;
	font-size: rem(32);
	margin: rem(10) auto rem(12);
	padding: 0;
}
.content:before {
	content: "";
	display: table;
}

//article
.article-body {
}

.article-description{	
	line-height: 1.5;
}
.subtitle {
	font-weight: 600;
	font-size: rem(20);
}
.prefix::before{
	content: url("../img/icons/info.svg");
	margin-right: rem(10);
}
.article-chapter {
	margin-top: rem(40);
}
.article-p {
	line-height: 1.5;
}
.last-line {
	margin-bottom: rem(30);
}
.notabene::before {
	content: url("../img/icons/attention.png") " N.B. ";
	color: var(--foregroundAccent);
}
.chapter-list {
	border-bottom: rem(2) solid var(--borderPrimary);
}
.chapter-item {
	position: relative;
	counter-increment: a;
	break-inside: avoid;
	margin: 0;
	display: flex;
	align-items: center;
}
.chapter-item:before {
	content: "";
}
.chapter-title::before {
	position: absolute;
	top: 0.25rem;
	left: 0;
	font-family:
		Consolas,
		Lucida Console,
		Menlo,
		Monaco,
		monospace;
	font-size: 0.75rem;
	line-height: 1.33;
	content: counter(a) ".";
}
.chapter-title {
	padding-left: rem(20);
	margin-bottom: rem(10);
}
.chapter-link {
	line-height: 1.4;
	color: var(--foregroundAction);
}
.article-list {
	max-width: 80%;
}
.article-item {
	position: relative;
	//color: var(--foregroundConstructive);
	//font-size: 14px;
	padding: 0 rem(20);
	line-height: 1.33;
	margin: rem(12) 0;
}
.picture-block-first {
	min-height: rem(1069);
	border: rem(4) solid var(--lessonsListBorder);
	padding: rem(20);
	border-radius: rem(5);
}
.image-grid-4 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	position: relative;
}
.image-item {
	position: relative;
}
.image-item img {
	width: 100%;
	height: auto;
	transition: transform 1s ease;
}
.image-item:hover img {
	position: absolute;
	transform: scale(1.4);
	z-index: 1000;
}
.picture-block-second {
	min-height: rem(536);
	border: rem(4) solid var(--lessonsListBorder);
	padding: rem(20);
	border-radius: rem(5);
	margin-bottom: rem(30);
}
.image-grid-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	position: relative;
}
.article-todo-item {
	position: relative;
	padding-left: 38px;
	margin-bottom: 2px;
	counter-increment: b;
	break-inside: avoid;
	margin: 0;	
	display: flex;
}
.article-todo-item::before {
	content: "";	
}
.todo-before{	
	margin-bottom: 2px;
}
.todo-before::before{
	position: absolute;
	top: 4px;
	left: 0;
	font-family: Consolas,Lucida Console,Menlo,Monaco,monospace;
	font-size: 12px;
	line-height: 16px;
	margin-top: rem(12);
	content: counter(a) "." counter(b);
	content: url("../img/icons/todo.svg")
}


//how
.how-todo-wrap{
	display: flex;
	gap: rem(20);
	
}
.how-border{
	border: rem(4) solid var(--borderPrimary);
	border-radius: rem(4);
	padding: rem(10);
}
.how-title, .doc-title{
	margin-bottom: rem(12);
}
.how-remote-item{
	margin-bottom: rem(12);
}
.how-remote-list li{
	list-style: none;
	list-style-position: inside;
	padding-left: rem(30);
  background-image: url("../img/icons/todo.svg");
  background-position: 0 0;
  background-size: rem(10);	
  background-repeat: no-repeat;
}
.how-remote-list li:last-child{
	margin-bottom: rem(30);
}
.doc-list li{
	list-style: none;
	list-style-position: inside;
	padding-left: rem(30);
  background-image: url("../img/icons/pin.svg");
  background-position: 0 0;  
  background-repeat: no-repeat;
}
.doc-item{
	margin-bottom: rem(12);
}
.chapter-two-wrap{
	margin-bottom: rem(30);
}
.up-button {
	display: flex;
	position: fixed;
	right: 0px;
	bottom: 8%;
	justify-content: center;
	align-items: center;
	background-color: #94abb7;
	color: #fff;
	padding: 8px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	opacity: .3;
	box-shadow: 0 0 12px #00000061;
	transition: .1s ease-out;
	cursor: pointer;
}